<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        {{ partial "social-links/social-links.html" . }}
    </div>
    
    
    {{ if not .Site.Params.disable_codefolding }}
      <script src="{{ "js/collapse.js" | relURL }}"></script>
      <script src="{{ "js/dropdown.js" | relURL }}"></script>
      <script src="{{ "js/transition.js" | relURL }}"></script>
    {{ end }}
    
    
    
</div>



